<div *ngIf="auth.user$ | async as user; else login" style="text-align: center;">

<app-text-editor></app-text-editor>


  <hr>
  
    <button class="button" (click)="auth.signOut()" style="color: white; background-color: red;">Sign Out</button>

</div>

<ng-template #login>
  <h1 style="margin-top: 10%;">Welcome to the Dashboard, try login and start typing!</h1>
  <button class="button" (click)="auth.googleSignin()" style="background-color: lightblue;top: 50%; margin-top: 10%;">Login with Google</button>
</ng-template>

<router-outlet></router-outlet>